DJANGO_SECRET_KEY=j%p_$34@r-_od#sbjy14n3)oqj+ir#)(@u5a2#19d)16p@w#4m
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
DB_NAME=jogo_advogado
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Login social com Google (deixe em branco para desativar o botão "Entrar com Google")
GOOGLE_CLIENT_ID="967327274185-3g2l5attao9p0rvqc1vb9mi6f09mhm8h.apps.googleusercontent.com"


GOOGLE_CLIENT_SECRET=

# E-mail: em branco usa o console (imprime o e-mail no terminal, bom para dev)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=contato@jogodoadvogado.com.br
